api.shared-t.online {
    log {
        output file /var/log/caddy/access.log
        format json
    }

    reverse_proxy app:3000 {
        header_up Host {host}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
    }
}

shared-t.online {
    log {
        output file /var/log/caddy/access.log
        format json
    }

    reverse_proxy frontend:3000 {
        header_up Host {host}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
    }
}