api.shared-t.online {
    log {
        output file /var/log/caddy/access.log
        format json
    }

    reverse_proxy app:3000 {
        header_up Host api.shared-t.online
        header_up X-Forwarded-Host api.shared-t.online
        header_up X-Forwarded-Proto https
    }
}

shared-t.online {
    log {
        output file /var/log/caddy/access.log
        format json
    }

    reverse_proxy frontend:3000 {
        header_up Host shared-t.online
        header_up X-Forwarded-Host shared-t.online
        header_up X-Forwarded-Proto https
    }
}